@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap);p, h1, h2, h3, h4, h5, h6, div, sub, b {
  color: #626161;
  font-family: "Nunito", sans-serif;
}

.top .top__result #chart {
  width: 100%;
  border: 1px solid #d9d9d9 !important;
  border-radius: 5px;
  margin-top: 2em;
}
.top .bottom__result {
  padding: 1em;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 100%;
  margin-top: 2em;
}
.top .bottom__result .parametter_estimates .info {
  display: inline-flex;
}
.top .bottom__result .parametter_estimates .info .p__item {
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 2em;
}

.bottom {
  padding: 1em;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
.bottom .info .container__info .datos {
  padding: 1em 0;
}
.bottom .info .container__info .datos .item {
  border: 1px solid #d9d9d9;
  display: inline-flex;
  width: 100%;
  border-radius: 5px;
  margin: 0.5em 0;
  padding: 1em;
}
.bottom .info .container__info .datos .item p {
  margin: 0;
}
.bottom .info .container__info .datos .item__info {
  border: 1px solid #d9d9d9;
  width: 100%;
  border-radius: 5px;
  margin: 0.5em 0;
  padding: 1em;
}
.bottom .info .container__info .datos .item__info label {
  margin: 0;
}
.bottom .info .container__info .datos .item__info label p {
  margin: 0;
}
.bottom #simulation {
  margin-top: 2em;
}